* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

row {
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}

header > nav ul {
  float: right;
  margin-top: 50px;
  margin-right: 230px;
  padding: 0;
  list-style-type: none;
}

header > nav ul > li {
  display: inline-block;
}

header > nav ul li > a {
  line-height: 50px;
  display: block;
  color: #fff;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  font-size: 26px;
  font-family: "Wisdom";
  color: white;
  line-height: 1.577;
  text-align: left;
  position: absolute;
  margin-top: 50px;
  margin-left: 235px;
  display: block;
}

.hero {
  background-image: url("../images/headerPicture.jpg");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.slogan {
  text-align: center;
  position: relative;
  margin-top: 277px;
}

.welcome {
  font-size: 40px;
  font-family: "DroidSerif";
  color: white;
  font-style: italic;
  line-height: 1.2;
  text-align: center;
  position: relative;
  margin: 0;
}

.nice {
  font-size: 75px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  position: relative;
  margin-top: 50px;
  margin-bottom: 60px;
}

.more {
  border-radius: 3px;
  background-color: #fed136;
  position: relative;
  width: 240px;
  height: 65px;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

.first_paragraph {
  backgroud: #fff;
}

.services {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-top: 120px;
}

.icons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 70%;
  margin: 80px auto;
}

.complex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center;
  padding: 0 1%;
}

.circle {
  border: 4px solid #fed959;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.icon-name {
  font-size: 18px;
  font-weight: bold;
}

.second_paragraph {
  background: #f7f7f7;
  padding-top: 100px;
  padding-bottom: 100px;
}

.photos_first_row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.photos {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background: #fff;
  margin: 35px;
}

.photo_title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

.photo_p {
  color: #a2a2a2;
  margin-top: 0;
  font-style: italic;
}

.about_us_row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
/*# sourceMappingURL=style.prefixed.css.map */