* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

row {
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
}

header > nav ul {
  float: right;
  margin-top: 50px;
  margin-right: 230px;
  padding: 0;
  list-style-type: none;
}

header > nav ul > li {
  display: inline-block;
}

header > nav ul li > a {
  line-height: 50px;
  display: block;
  color: #fff;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.logo {
  font-size: 26px;
  font-family: "Wisdom";
  color: white;
  line-height: 1.577;
  text-align: left;
  position: absolute;
  margin-top: 50px;
  margin-left: 235px;
  display: block;
}

.hero {
  background-image: url("../images/headerPicture.jpg");
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.slogan {
  text-align: center;
  position: relative;
  margin-top: 277px;
}

.welcome {
  font-size: 40px;
  font-family: "DroidSerif";
  color: white;
  font-style: italic;
  line-height: 1.2;
  text-align: center;
  position: relative;
  margin: 0;
}

.nice {
  font-size: 75px;
  font-family: "Montserrat";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  position: relative;
  margin-top: 50px;
  margin-bottom: 60px;
}

.more {
  border-radius: 3px;
  background-color: #fed136;
  position: relative;
  width: 240px;
  height: 65px;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
}

.first_paragraph {
  padding-top: 120px;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 80px;
}

.services h1 {
  margin: 0;
  margin-bottom: 20px;
}

.services p {
  font-style: italic;
  color: #898989;
  margin: 0;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 80px auto;
}

.complex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 1%;
}

.circle {
  border: 4px solid #fed959;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-name {
  font-size: 18px;
  font-weight: bold;
}

.second_paragraph {
  background: #f7f7f7;
  padding-top: 100px;
  padding-bottom: 100px;
}

.photos_first_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin: 35px;
}

.photo_title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}

.photo_p {
  color: #a2a2a2;
  margin-top: 0;
  font-style: italic;
}

.third_paragraph {
  padding-top: 120px;
}

.about_us_row_left {
  display: flex;
  justify-content: flex-start;
}

.about_us_row_right {
  display: flex;
  justify-content: flex-end;
}

.picture_line {
  height: 90px;
  margin-left: 50%;
  border-left: 1px solid #f1f1f1;
}

.about_us_description_left {
  display: flex;
  flex-direction: column;
  width: calc(50% - 92.5px);
  padding-left: 20%;
  padding-right: 2%;
  text-align: right;
}

.about_us_description_right {
  display: flex;
  flex-direction: column;
  width: calc(50% - 92.5px);
  padding-right: 20%;
  padding-left: 2%;
  text-align: left;
}

.about_us_year {
  margin: 0;
  margin-bottom: 5px;
  font-weight: bold;
}

.about_us_des_year {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
}

.about_us_par {
  margin: 0;
}

.about_us_image {
  height: 183px;
}

.about_us_our_story_row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
}

.about_us_our_story {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 7px solid #f1f1f1;
  border-radius: 50%;
  height: 175px;
  width: 175px;
  background: #fed136;
}

.about_us_our_story p {
  color: white;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.team_persons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.person {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.person_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 40px;
}

.person_name {
  font-weight: bold;
  margin: 0;
  margin: 10px 0;
}

.person_position {
  margin: 0;
  color: #777777;
  font-style: italic;
  margin-bottom: 10px;
}

.persons_text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.persons_text p {
  width: 50%;
}

.social_media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa {
  color: black;
  text-decoration: none;
  font-size: x-large;
  margin: 4px;
  border: 2px solid black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */